<div class="dashboard-container container">
    <h1>Welcome to the Dashboard</h1>
    <p>This is your main dashboard where you can access various features and information.</p>
    
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feature 1</h5>
            <p class="card-text">Description of feature 1.</p>
            <a href="#" class="btn btn-primary">Go to Feature 1</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feature 2</h5>
            <p class="card-text">Description of feature 2.</p>
            <a href="#" class="btn btn-primary">Go to Feature 2</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feature 3</h5>
            <p class="card-text">Description of feature 3.</p>
            <a href="#" class="btn btn-primary">Go to Feature 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <app-navbar></app-navbar> -->