<nav class="navbar">
    <div class="navbar-brand">MyApp</div>
    <ul class="navbar-links">
        <li><a href="dashboard">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="navbar-buttons">
        <button   routerLink="/login" class="login-btn"> <a routerLink="/login"></a>Login</button>
        <button  routerLink="/signin" class="signup-btn">Sign Up</button>
    </div>
</nav>
<router-outlet></router-outlet>